Welcome to DevRay Router!

   ┌── ┐
   . DevRay {{ version_data.version }}
   └ ──┘

{% if version_data.lts_build %}
 * Support portal: {{ version_data.support_url }}
{% endif %}
 * Documentation:  {{ version_data.documentation_url }}
 * Project news:   {{ version_data.project_news_url }}
 * Bug reports:    {{ version_data.bugtracker_url }}

You can change this banner using "set system login banner post-login" command.
